<div class="container" *ngIf="usuario">
<div class="exibicao-perfil" *ngIf="!estaEditando">
  <button type="button" class="botado-editar "(click)=editarPerfile() name="button">Editar Perfil</button>

  <h1>Perfil de Usuário</h1>
  <div class="info">
    Nome de Usuário: {{usuario.login.username}}
  </div>

  <div class="info">
    Nome: {{usuario.nome}}
  </div>

  <div class="info">
    Data de Nascimento:
    {{ usuario.dataNascimento | date: 'dd/MMM/yyyy' }}
  </div>

  <div class="info">
    Sexo: {{usuario.sexo}}
  </div>
  <br><br><br><br><br><br><br><br><br><br>
</div>

  <div class="" *ngIf="estaEditando">
    <h1>Edição de Perfil</h1><br>
    <form (ngSubmit)="atualizarDados()" #formsUsuario="ngForm">

      <div class="form-group">
        <label for="username">Nome de Usuário</label><br>
        <span id="username">{{usuario.login.username}}</span>
      </div>

      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" required
        [(ngModel)]="usuario.nome" name="nome"
        #nome="ngModel">
        <div [hidden]="nome.valid || nome.pristine"
        class="alert alert-danger">
        Nome é obrigatório
        </div>
      </div>

      <!--Data de nascimento-->
      <div class="form-group" id="dataDeNascimento">
        <label for="dataDeNascimento">Data de Nascimento</label><br>
            <input type="date" class="form-control" id="dataDeNascimento" value="2017-06-01" required
            [(ngModel)]="usuario.dataNascimento" name="dataDeNascimento">
      </div>


        <div class="form-group" id="campo">
          <label for="sexo">Sexo</label>
          <div class="edicao-sexo">
            Sexo atual: <b>{{usuarioOriginal.sexo}}</b>
            <div class="novo-sexo">
              <span>Alterar:</span>
              <select class="form-control" id="sexo"
              [(ngModel)]="usuario.sexo" name= "sexo">
                <option *ngFor="let sexo of sexos" [value]="sexo">{{sexo}}</option>
              </select>
            </div>

          </div>
        </div>

        <div class="form-group">
          <label for="senha">Nova Senha</label>
          <input type="password" class="form-control" id="senha"
          [(ngModel)]="novaSenha" name="senha" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
          #senha="ngModel">
          <div [hidden]="senha.valid || senha.pristine"
          class="alert alert-danger">
          A senha deve possuir no mímino 8 caracteres.<br>
          Destes pelo menos uma letra maíuscula, uma minúscula e um número.
          </div>
        </div>


        <div class="form-group">
          <label for="repeticaoSenha">Repetição da Nova Senha</label>
          <input type="password" class="form-control" id="repeticaoSenha"
          [(ngModel)]="repeticaoNovaSenha" name="repeticaoSenha"
          #repeticaoDeSenha="ngModel">
          <div [hidden]="repeticaoDeSenha.valid || repeticaoDeSenha.pristine"
          class="alert alert-danger">
          Senha é obrigatória
          </div>
          <div class="mensagem" *ngIf="novaSenha != repeticaoNovaSenha"
          style="color: red; margin-bottom: 20px">
            Senhas não coincidem.
          </div>
        </div>




        <div class="form-group">
          <label for="senhaOriginal">Para salvar as mudanças digite a senha atual</label>
          <input type="password" class="form-control" id="senhaOriginal" required
          [(ngModel)]="senhaDigitada" name="senhaOriginal"
          #senhaOriginal="ngModel">
          <div [hidden]="senhaOriginal.valid || senhaOriginal.pristine"
          class="alert alert-danger">
          Senha é obrigatória
          </div>
        </div>

      <div class="mensagem" *ngIf="mensagemErro"
      style="color: red; margin-bottom: 20px">
        {{mensagemErro}}
      </div>

      <button type="submit" class="btn btn-success"
      [disabled]="!formsUsuario.form.valid || novaSenha != repeticaoNovaSenha">
      Salvar Mudanças</button>

    </form>
  </div>
</div>
