
<div *ngIf="!nenhumFilmeFoiEncontrado">

  <div class="container" >
    <h2>Filmes Encontrados</h2>

    <ul class="filmesEncontrados">
      <li *ngFor="let filme of filmesEncontrados" class="filme-da-lista">
        <div class="filme">
          <a routerLink="/filme/{{filme.id}}">
            {{filme.titulo}}</a>
          ({{filme.ano}})
          <!--Direção--->
          <div class="lista-pessoas">
            <ul>
              <li><b>Direção:</b></li>
              <li *ngFor="let pessoa of filme.diretores">{{pessoa.nome}},</li>
            </ul>
          </div>

        </div>

      </li>
    </ul>
  </div>
</div>

<div class="container mensagem" *ngIf="nenhumFilmeFoiEncontrado" >
  <h2>UMDB Filmes</h2>

  <p >
  <b>Nenhum filme foi Encontrado!</b><br>
  <br>
  Escolha uma categoria (Título, Diretor, Elenco ou Ano) e digite pelo conteúdo que você procura!<br>
  Se não souber a categoria, não se preocupe, você também pode pesquisar em todas selecionando a categoria Todos.
  </p>

</div>
