
.container {
  padding-left: 20px;
  padding-top: 40px;
  width: 600px;
  background: white;
}

.mensagem .container {
  .background-color: white;
  font-size: 10;
}


.filmesEncontrados {
  margin-left: 0px;

  list-style-type: none;
  padding: 20px;
}

.filme-da-lista {
  border-style: solid;
  border-width: thin;
  border-color: black;
  padding: 20px;
  margin-bottom: 5px;
}

h2 {
  text-align: left;
}


.lista-pessoas {
  padding-left: 0px;
  display: table;
  width: 100%;
}
.lista-pessoas ul {
  list-style: none;
  padding-left: 5px;
}
.lista-pessoas li {

  margin-left: 0px;
  margin-right: 5px;
  display: inline;
}
