
<div *ngIf="!nenhumFilmeFoiEncontrado">

  <div class="container" >
    <h2>Filmes Encontrados</h2>
    <ul class="filmesEncontrados">
      <li *ngFor="let filme of filmesEncontrados">
        <div class="filme">
          <a routerLink="/filme/{{filme.id}}">
            {{filme.titulo}}</a>
          ({{filme.ano}})
          <br> De: {{filme.diretor}}

        </div>

      </li>
    </ul>
  </div>
</div>

<div class="container mensagem" *ngIf="nenhumFilmeFoiEncontrado" >
  <h2>UMDB Filmes</h2>

  <p >
  <b>Nenhum filme foi Encontrado!</b><br>
  <br>
  Escolha uma categoria (Título, Diretor, Elenco ou Ano) e digite pelo conteúdo que você procura!<br>
  Se não souber a categoria, não se preocupe, você também pode pesquisar em todas selecionando a categoria Todos.
  </p>

</div>
