
.container {
  padding: 20px;
  width: 600px;
  background: white;
}

.mensagem .container {
  .background-color: white;
  font-size: 10;
}


ul {

  align-self: center;
  list-style-type: none;
  padding: 20px;
}
li {
  border-style: solid;
  border-color: black;
  padding: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}
h2 {
  text-align: center;
}
