#inline-forms {
   display: flex;
   justify-content: space-around;
   align-items: center;

}
#campo {
  margin: 5px;
  width: 100%;
}

.container {
  padding: 20px;
  width: 900px;
  background: white;
  padding-bottom: 50px;
}
