.titulo {
  /*background-color: gray;*/
  width: 100%;
  font-size: 36px;
  /*text-align: left;

  display: inline;
  padding: 10px;
  margin-right: 0px;
*/
}

.container {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  width: 900px;
  background: white;
}

img {
  padding: 10px;
  max-height:300px;
  max-width:100%;
  width: auto;
  height: 300px;
}

.video {
  min-width: 500px;
  max-height: 300px;
  height: 300px;
  padding: 10px;
}

.div-video {
    float: right;
}

.container-media {
  width: 800px;
  height: 310px;
}

.coluna {
  float: left;
}

.estrelas {
  width: 191;
  height: 64px;
}

ul {
  list-style: none;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 2px;
}
.critica {
  background-color: #e1e4e8;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
  margin-top: 5px;
}
.critica-botao {
  float: right;
  padding: 5px;
}

.container-criticas {
  margin-top: 10px;
  margin-bottom: 0px;
}

.lista-pessoas {
  display: table;
  width: 100%;
}
.lista-pessoas ul {
  list-style: none;
}
.lista-pessoas li {
  margin-left: 0px;
  margin-right: 5px;
  display: inline;
}

.botao-editar-filme {
  float: right;
}
