<div class="container" *ngIf="filme">

  <div class="titulo">
    {{filme.titulo}} ({{filme.ano}})
    <div style="float:right; margin-top:-10px">
      <img class="estrelas" src="assets/estrelas/voto_1.jpeg">
    </div>
  </div>

  <div class="container-media">
    <div class="linha">
        <div class="coluna">
            <img src="{{filme.imagens[0]}}">
        </div>
        <div class="coluna">
          <iframe class="video" src="https://www.youtube.com/embed/g6ng8iy-l0U" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
  </div>

  <div class="info-filme">
    Direção: {{filme.diretor}}
    <br>
    Elenco: {{filme.elenco}}
    <br><br>
  </div>

  <div class="sinopse">
    SINOPSE
    <br>{{filme.sinopse}}
  </div>

  <hr>


  <div class="container-criticas">
    <span style="font-size: 28px; margin-left:20px">Críticas de Usuários</span>

    <br><br>

      <ul>
        <li *ngFor= "let critica of filme.criticas" class="critica">

              <button type="button" name="button" class="critica-botao">Editar</button>
              <span style="color:red">{{critica.username}}</span>
              , no dia {{critica.data}}, escreveu:

            <br>"{{critica.comentario}}"



        </li>
      </ul>
      <div *ngIf="!filmeAvaliado" class="critica">
        Já assistiu {{filme.titulo}}? Então deixe sua crítica aqui também!
        <button with="400px"(click)="criticar()" class="critica-botao">
        Avaliar esse filme</button>
      </div>
  </div>

</div>

<br><br><br><br><br><br><br><br><br>
