.titulo {
  /*background-color: gray;*/
  width: 100%;
  font-size: 36px;
  /*text-align: left;

  display: inline;
  padding: 10px;
  margin-right: 0px;
*/
}

.container {
  padding: 20px;
  width: 900px;
  background: white;
}

img {
  padding: 10px;
  max-height:300px;
  max-width:100%;
  width: auto;
  height: 300px;
}

.video {
  min-width: 500px;
  max-height: 300px;
  height: 300px;
  padding: 10px;
}



.container-imagens {
  width: 800px;
  height: 310px;
}

.coluna {
  float: left;
}

.estrelas {
  width: 191;
  height: 64px;
}
