<div class="container">
  <div>
    <h1>Login</h1><br>
    <form (ngSubmit)="login()" #formsUsuario="ngForm">
      <div class="form-group">
        <label for="usernameLogin">Username</label>
        <input type="text" class="form-control" id="usernameLogin" required
        [(ngModel)]="dadosLogin.username" name="usernameLogin"
        #usernameLogin="ngModel">
        <div [hidden]="usernameLogin.valid || usernameLogin.pristine"
        class="alert alert-danger">
        Username é obrigatório.
        </div>
      </div>

      <div class="form-group">
        <label for="senhaLogin">Senha</label>
        <input type="password" class="form-control" id="senhaLogin" required
        [(ngModel)]="dadosLogin.senha" name="senhaLogin"
        #senhaLogin="ngModel">
        <div [hidden]="senhaLogin.valid || senhaLogin.pristine"
        class="alert alert-danger">
        Senha é obrigatória.
        </div>
      </div>

      <div class="" *ngIf="mensageDeErro" style="color: red">
        {{mensageDeErro}}
      </div>


      <button type="submit" class="btn btn-success"
      [disabled]="!formsUsuario.form.valid">Fazer Login</button>
    </form>
  </div>
  <br>
  <hr>
</div>
<app-forms-cadastro-usuario></app-forms-cadastro-usuario>
