.container-critica {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

button {
  margin-top: 20px;
}

textarea {

  width: 400px;
}
#nota {
  margin: auto;
  width: 400px;
  margin-bottom: 30px;
}
