<div class="navbar">
    <!-- logo-->
    <a class="image" routerLink="/">
      <img src="assets/logo2.png" height="55" width="200">
    </a>

    <div class="search-container">


        <input type="text" placeholder="Procurar por um filme, elenco, direção..." name="search"
        [(ngModel)]="barraDeBusca" class="barra-input">

        <select class="barra-input" id="filtroSelecionado">
         <option *ngFor="let filtro of filtros" [value]="filtro.chave">{{filtro.rotulo}}</option>
       </select>

        <button type="button" (click)="buscaSimples()" class="barra-input">Buscar</button>

    </div>

    <div class="topnav-right">
      <!--a class="botao" *ngIf="true" routerLink="/developer">Developer</a-->
      <a class="botao" *ngIf="usuario && usuario.moderador" routerLink="incluir-filme">Adicionar Filme</a>

      <a class="botao" *ngIf="usuario" routerLink="/perfil/0"> Perfil: {{usuario.login.username}}</a>


      <a class="botao" *ngIf="!usuario"  routerLink="/autenticacao">Entrar</a>
      <a class="botao" *ngIf="usuario" routerLink="" (click)="logout()">Sair</a>
    </div>

</div>
